<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>491718557805-h5voem1s8a5tvddbmsavpn8eifp17r5j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.491718557805-h5voem1s8a5tvddbmsavpn8eifp17r5j</string>
	<key>API_KEY</key>
	<string>AIzaSyCDlMkCd97-Ysb8jpezQad4-5CASJdu12c</string>
	<key>GCM_SENDER_ID</key>
	<string>491718557805</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.uco.vle3.cmsc4513.facialrecognitionapp</string>
	<key>PROJECT_ID</key>
	<string>quanternate</string>
	<key>STORAGE_BUCKET</key>
	<string>quanternate.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:491718557805:ios:488ae514d40f486401bf64</string>
	<key>DATABASE_URL</key>
	<string>https://quanternate-default-rtdb.firebaseio.com</string>
</dict>
</plist>